<app-modal-basic #customer [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
      <h4 class="modal-title">History</h4>
      <button type="button" class="close basic-close" (click)="customer.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="app-modal-body" style="text-align: center;overflow-x:auto;">
     
    <ngx-datatable class="data-table" 
    [rows]="dataRows"
    [columns]="dataColumns" 
    [columnMode]="'force'" 
    [headerHeight]="50" 
    [footerHeight]="100" 
    [rowHeight]="'auto'" 
    [scrollbarH]="true" 
    [limit]="50">

    <ngx-datatable-column *ngFor="let col of dataColumns" [name]="col['name']" [prop]="col['prop']">
    </ngx-datatable-column>
    <!-- <ngx-datatable-column width="10">
      <ng-template let-row="row" let-rowIndex = "rowIndex" ngx-datatable-cell-template>
        <i class="fa fa-trash fa-2x" style="color:blueviolet;cursor:pointer" (click)="deleteSale(row['SchoolId'],rowIndex)"></i>
      </ng-template>
    </ngx-datatable-column> -->
  </ngx-datatable>
              
  </div>
  <div class="app-modal-footer">
      
      <button type="button" class="btn btn-default waves-effect"
          (click)="customer.hide()">Close</button>

  </div>
 
</app-modal-basic>
<app-card >
  <form #CrmCustomerForm="ngForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
      Complaint  Id
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control " readonly name="complaint_id" [ngModel]="model.complaint_id">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Customer Name
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" name="name" readonly [(ngModel)]="model.name" >
    </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
      Complaint  Type
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <select class="form-control" name="type" [(ngModel)]="model['type']">
          <option value="Installation">Installation</option>
          <option value="Complaint">Complaint</option>
          <option value="PM">PM</option>
        </select>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Complaint Date
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" name="CreateDate" readonly type="date"  [(ngModel)]="model.CreateDate" >
    </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Status
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <select class="form-control" name="status"  [(ngModel)]="model['status']">
          <option value="Open">Open</option>
          <option value="Pending">Pending</option>
          <option value="Close">Close</option>
        </select>
    
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
      Remarks
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control"  name="remarks"  [(ngModel)]="model.remarks" >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Address
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" readonly name="address" [(ngModel)]="model.address">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Mobile No.
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" readonly name="mobile_no"  [(ngModel)]="model.mobile_no" >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Alt Mobile No.
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" readonly name="alt_mobile_no" [(ngModel)]="model.alt_mobile_no">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Email
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" readonly name="email"  [(ngModel)]="model.email" >
      </div>
    </div>

        <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        city
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" readonly name="city" [(ngModel)]="model.city">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        area
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" readonly name="area"  [(ngModel)]="model.area" >
      </div>
    </div>
      <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Model
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" readonly name="Model" [(ngModel)]="model.Model">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Brand.
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" readonly name="Brand"  [(ngModel)]="model.Brand" >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        SerialNo.
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" readonly name="SerialNo" [(ngModel)]="model.SerialNo">
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        PinCode
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control" readonly type="number" name="PinCode"  [(ngModel)]="model.PinCode" >
      </div>
    </div>
    <div *ngIf = 'entry == "complaint"'>
    
      <div class="row">
        <h3>CLOSE CASE FIELD</h3>
      </div>
      <div class="row"> 
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Close case.
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <select class="form-control" name="closecase" (ngchange)="closecase()"  [(ngModel)]="model['closecase']">
          <option value="Part Consumption">Part Consumption</option>
          <option value="Without Part Consumption">Without Part Consumption</option>
        </select>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        Happy Code
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control"  type="text" name="happycode"  [(ngModel)]="model.happycode" >
      </div>
    </div>
    <div class="row"> 
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
      Enter Product Details
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="form-control"  type="text" name="Product"  [(ngModel)]="model.Product" >

        
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
Close Date 
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <input class="form-control"  type="date" name="CloseDate"  [(ngModel)]="model.CloseDate" >
        </div>
    </div>
    <div class="row"> 
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
          Enter Expiry Days
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <input class="form-control"  type="number" name="expirydate"   [(ngModel)]="model.expirydate" >
         </div>
         <div class="col-md-6">
         <form  (ngSubmit)="onSubmit()">
          Select File:
          <input type="file" name="filename" id="fileToUpload"  (change)="fileEvent($event)">
          <input type="submit" value="Upload File" name="submit">
      </form>
    </div>
    </div>
    <div class="row">
      
      <ul class="listtt">
      <li *ngFor="let hero of filelist">
       <a [href]="path + hero">{{hero}}</a>
      </li>
    </ul>
    </div>
    </div>
   
    
    <div style="text-align: center;margin: 2%">
      <button type="submit" class="btn btn-success">Submit</button>
      <button  style="margin-left: 3%;background-color: cornflowerblue;" type="button" (click)="viewhistory(model.customer_id);customer.show()" class="btn btn-success">View History</button>
    </div>
  </form>
</app-card> 


  
  




   